# === Python ===
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# === Virtual env ===
.venv/
venv/
env/

# === Environment / secrets ===
.env
.env.*
!.env.example

# === IDEs / OS ===
.vscode/
.idea/
.DS_Store
Thumbs.db

# === Logs ===
*.log

# === Alembic compiled files ===
**/migrations/**/__pycache__/
!.env.prod.example

